PORT=3000
DATABASE_URL=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=fit_focus_db
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false
AUTH_SECRET=cambia-esta-clave
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@fitness-evolution-gym.pro
SMTP_PASS=tu_password_email
MAIL_FROM_NO_REPLY="Fitness Evolutions Gym <no-reply@fitness-evolution-gym.pro>"
MAIL_FROM_ADMIN="Fitness Evolutions Gym Admin <admin@fitness-evolution-gym.pro>"
